<div class="row justify-content-center firechat-wrapper">
    <div class="col-md-12 col-xl-12 chat">
        <div class="card">
            <div class="card-header">
                Chatbox
            </div>
            <div class="card-body msg_card_body" id="messageContainerScrollDiv" data-mcs-theme="dark">
                <div id="messageContainer"></div>
            </div>
            <div class="card-footer">
                <div class="input-group">
                    <textarea id="firechat-input" name="" class="form-control type_msg"
                              placeholder="Nhập tin nhắn.."></textarea>
                    <div class="input-group-append">
                            <span id="btnFireChatSend" type="submit" class="input-group-text send_btn"><i
                                    class="fas fa-location-arrow"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>